@using custom_identity.Models.Partials

@model ChangePasswordPartialModel
@{
    ViewData["Title"] = "Change password";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-7">
        <form id="change-password-form" class="user" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group">
                <input asp-for="OldPassword" class="form-control form-control-user" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NewPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">Update password</button>
        </form>
    </div>
</div>